body{
	background-image: none;
	background-color: #fff;
}
#productos{
    border-bottom: 4px;
    border-color: #0033cc;
    border-style: solid;
}
.product_header{
    width: 100%;
    height: 24px;
    background-color: #6989e9;
}
.product_header a{
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    padding: 0 30px;
    margin: auto;
}
.main_container{
    max-width: 1200px;
    padding: 0 30px;
    margin: 48px auto;
	min-height: 100vh;
}
.main_title{
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 26px;
}
table{
	border-collapse: collapse;
	width: 100%;
	margin-top: 8px;
	font-family: 'Barlow Semi Condensed', sans-serif;
	font-size: 16px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
td i{
	cursor: pointer;
	font-size: 16px;
}
td input{
	width: 60px;
	height: 40px;
	border: 1px solid #E5EAF0;
	padding: 10px;
}
td input:focus{
	outline: none;
}
td img{
	width: 80px;
    object-fit: cover;
}
td, th{
	border-bottom: 1px solid #D5DDE6;
	vertical-align: middle;
	text-align: start;
}
td{
	padding: 10px;
	text-align: left;
}
td:last-child, th:last-child{
	max-width: 80px;
}
.main_buttons{
    display: flex;
	justify-content: space-between;
}
.cart_href{
	border: 1px solid #D5DDE6;
	padding: 10px;
	margin: 12px 0;
    display: block;
    text-align: center;
}
.back_button{
	margin-top: 16px;
}
.back_button i{
	margin-right: 6px;
}
/*
.cart_button:hover {
	animation: shake 0.82s cubic-bezier(.90, .90, .90, .90) both;
	transform: translate3d(0, 0, 0);
	backface-visibility: hidden;
	perspective: 1000px;
  }
  
@keyframes shake {
	10%, 90% {
		transform: translate3d(-1px, 0, 0);
	}

	20%, 80% {
		transform: translate3d(2px, 0, 0);
	}

	30%, 50%, 70% {
		transform: translate3d(-2px, 0, 0);
	}

	40%, 60% {
		transform: translate3d(2px, 0, 0);
	}
}*/
.cart_button i{
    font-size: 24px;
    margin: 8px 4px 8px 8px;
}
.cart_button{
    color: #7e7e7e;
	position: fixed;
    top: 30%;
    right: 4px;
    border-radius: 7px;
    cursor: pointer;
    z-index: 99;
    background-color: #fff;
    display: flex;
    align-items: center;
	box-shadow: -1px 6px 14px -5px rgba(0,0,0,0.75);
}
.cart_quantity{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
	font-size: 20px;
    margin-right: 8px;
}
.cartbg{
	z-index: 98;
    background: rgba(34, 44, 56, 0.75);
    opacity: .8;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
	display: none;
}
.cart{
	width: 300px;
	height: 100vh;
	background-color: #fff;
	position: fixed;
	top: 0;
	right: -300px;
	z-index: 99;
	transition: all 600ms ease;
    display: flex;
    flex-direction: column;
}
#cart-body{
    overflow-y: scroll;
    height: 100%;
}
.cart-active{
	right: 0px;
}
.close-cart{
	cursor: pointer;
}
.cart-header{
	padding: 16px;
	display: flex;
	justify-content: space-between;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 24px;
    border-bottom: 1px solid #D5DDE6;
}
.cart-footer{
	background-color: #E5EAF0;
	border-top: 1px #D5DDE6 solid;
	display: flex;
	flex-direction: column;
	padding: 16px 16px;
    bottom: 0%;
    position: initial;
    width: 100%;
}
.cart-footer a{
	width: 100%;
    border: 1px solid #748DAA;
	cursor: pointer;
	text-transform: uppercase;
	padding: 8px 16px;
	margin: 0 auto 8px auto;
	background-color: #fff;
	text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}
.cart-item{
	display: flex;
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.cart-image{
	width: 64px;
	height: 64px;
    border: 0.7px solid #D5DDE6;
    display: flex;
    align-items: center;
}
.cart-image img{
	max-width: 100%;
	padding: 2px;
    max-height: 100%;
}
.cart-info{
    padding-left: 10px;
    width: 196px;
}
.cart-info__bottom{
    display: flex;
    justify-content: space-between;
}
.remove_cart{
    cursor: pointer;
}
.cart-info__top a{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.cart-info__bottom span:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
}
/*scrllbar*/
#cart-body::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}
#cart-body::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
#cart-body::-webkit-scrollbar-thumb {
	background-color: #000000;
}
.cart-msg{
    padding: 16px;
    font-family: 'Poppins', sans-serif;
}
/*CART*/
td:nth-child(1), td:nth-child(2), td:nth-child(4), th:nth-child(1), th:nth-child(2), th:nth-child(4){
	width: 105px;
}
#null_alert{
	margin: 24px 0;
}
#null_alert > div{
	display: flex;
	text-align: center;
	justify-content: center;
}
#null_alert > div > h4{
	font-size: 24px;
	font-family: 'Source Sans Pro', sans-serif;
}
@media (max-width:560px)  {
    td:nth-child(1), th:nth-child(1){
		width: 40px;
	}
}
@media (max-width:420px)  {
    td:nth-child(2), th:nth-child(2){
		display: none;
	}
}