.header{    
    height: 200px;
    background: var(--color-blue-default);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.header_title{
    text-align: center;
    margin-bottom: 25px;
}
.header-bottom{
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.header-bottom span{
    color: #fff;
    height: 40px;
    display: inline-block;
    padding: 0 4px;
}
.header-bottom a{
    color: #fff;
}
.header_title h4{
    font-size: 48px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
}


.square_container{
    background-color: #f2f2f2;
    width: 100%;
    padding: 3rem 0;
}
.square_info{
    display: flex;
    flex-direction: column;
    background-color: #34388b;
    justify-content: center;
    height: 16rem;
}
.square_margin{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    gap: 40px;
}
.square{
    width: 100%;
}
.square_icon{
    display: flex;
    flex-direction: column;
    height: 16rem;
    text-align: center;
    background-color: #ffff;
    color: #34388b;
    justify-content: center;
}
.square_icon i{
    font-size: 96px;
}
.square_icon span{
    padding: 16px;
    font-size: 24px;
}
.square_info__contact {
    text-align: center;
    color: #fff;
    padding: 8px;
    font-size: 18px;
}
.square_info__link{
    text-align: center;
    width: 120px;
    margin: 8px auto;
    padding: 12px 24px;
    background-color: #fff;
    color: #000;
    border-radius: 4px;
}
.square_text{
    font-size: 18px;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}
.square_text .fa-clock{
    padding: 0 8px;
}
.contact_success{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 48px 0;
    opacity: 0;
    transition: all 200ms ease-in-out;
}
.contact_success--icon{
    font-size: 48px;
    background: #34388b;
    color: #fff;
    padding: 18px 27px;
    border-radius: 50%;
    margin-bottom: 24px;
}
.contact_success--txt{
    font-size: 24px;
}
.contact_container{
    width: 80%;
    margin: auto;
    padding: 32px 0;
}
.contact_title{
    font-weight: bold;
    text-align: center;
    font-size: 32px;
    margin: 16px 0;
}
.contact_subtitle{
    text-align: center;
}
.contact_body{
    display: flex;
}
.contact_form{
    width: 35%;
}
.contact_map{
    padding: 32px;
    width: 65%;
    height: 8rem;
}
.contact_form-input{
    background-color: #f4f6f7;
    border: 1px solid #dfe5e8;
    cursor: text;
    display: flex;
}
.contact_form-input textarea{
    resize: vertical;
}
.input_required{
    outline: #f00 1px solid !important;
}
.contact_form-input input, .contact_form-input textarea{
    outline: rgba(255, 0, 0, 0) 1px solid;
    background: transparent;
    border: none;
    font-size: 16px;
    padding: 12px 6px;
    width: 100%;
    box-sizing: border-box;
    transition: all 300ms ease-in-out;
}
.contact_form-input input:focus, .contact_form-input textarea:focus{
    outline: none;
}
.contact_form--item > span{
    display: none;
}
.contact_form--item{
    margin: 24px 0;
}
.contact_form--submit span{
    width: 100%;
    border: none;
    font-size: 18px;
    padding: 6px;
    background-color: #34388b;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    user-select: none;
}
.contact_form--submit span:hover{
    opacity: 0.9;
}
.map_triggers{
    display: flex;
    gap: 2PX;
}
.map_trigger{
    width: 100%;
    text-align: center;
    background-color: #dfe5e8;
    padding: 8px;
    cursor: pointer;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.map_trigger--active {
    border-style: solid;
    border-width: 1px 1px 0px;
    border-color: #ccc;
    background-color: #fff !important;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.map_body{
    border-style: solid;
    border-width: 0px 1px 1px;
    border-color: #ccc;
    border-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    height: 468px;
}
.map_item--title{
    display: none;
}
.map_item--body iframe{
    width: 100%;
    padding: 24px;
    height: 420px;
    position: absolute;
}
.map_item--body{ 
    width: calc(100% - 48px);
    opacity: 0;
    transition: opacity 300ms ease;
    position: relative;
    z-index: 0;
}
.map_item--active{
    opacity: 1;
    transition: opacity 300ms ease;
    z-index: 1;
}
.map_trigger .fa-location-dot{
    margin: 0 2px;
}
