.overnav{
    background-color: var(--color-blue-default);
    font-size: 14px;
}
.overnav{
    width: 100%;
    position: relative;
}
.overnav-body{
    width: fit-content;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}
.overnav-item{    
    color: rgba(255, 255, 255, 0.7);
    padding: 0 8px;
    border-right: 1px solid rgba(255, 255, 255, 0.7);
}
.overnav-item i{
    font-size: 16px;
    margin-right: 3px;
}
.navigation{
    position: relative;
    background-color: #fff;
    font-size: 18px;
    border-bottom: 1px solid #e4e4e4;
}
.navigation > nav{
    display: flex;
    width: 90%;
    margin: auto;
    height: 4.5rem;
    align-items: center;
    justify-content: space-between;
}
.nav-logo{
    height: 100%;
}
.nav-logo span{
    font-size: 32px;
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    color: #4c4c4c;
}
.nav-logo sup{
    font-size: 16px;
    font-weight: 500;
}
.nav-logo a{
    display: flex;
    align-items: center;
    height: inherit;
}
.nav-logo img{
    height: 100%;
    padding: 8px 4px;
}
.nav-list ul{
    display: flex;
    gap: 15px;
}
.nav-list a:hover{
    background: #f9f9f9;
}
.nav-list a{
    font-weight: 600;
    padding: 16px;
    border-radius: 10px;
    color: var(--color-blue-default);
}