body{
	background-image: none;
	background-color: #fff;
}
#productos{
    border-bottom: 4px;
    border-color: #0033cc;
    border-style: solid;
}
.product_container{
    display: flex;
    max-width: 1200px;
    padding: 0 30px;
    margin: 48px auto;
}
.product_header{
    width: 100%;
    height: 24px;
    background-color: #6989e9;
}
.product_header a{
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    display: flex;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    padding: 0 30px;
    margin: auto;
}
#img_container{
    border: 1px solid #D5DDE6;
    width: 490px;
    height: 490px;
}
#img_container img{
    height: 100%;
    width: 100%;
}
.product_info, .product_img{
    width: 580px;
    margin: 0px 20px;
}
.product_info{
    margin-top: 32px;
}
.info_title h1{
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
    font-size: 36px;
    text-transform: capitalize;
}
.info_data{
    margin: 36px 0 12px;
    font-family: 'Poppins', sans-serif !important;
}
.info_code{
    margin-bottom: 24px;
}
.info_data p, .info_code{
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
}
.info_btns{
    margin: 16px 0;
}
.info_btns input{
    border: 1px solid #E5EAF0;
    padding: 10px;
    width: 60px;
}
.info_btns input:hover{
    border: 1px solid #0033cc;
}
.info_btns{
    display: flex;
    align-items: center;
}
.info_btns a, .info_btns button{
    color: #0033cc;
    padding: 7px 25px;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin-left: 8px;
    border: 1px solid #D5DDE6;
    background: transparent;
    cursor: pointer;
}
.info_btns a:hover{
    box-shadow: inset 0 0 0 0.5px #0033cc;
    border: 1px solid #0033cc;
}
#cotizar_button{
    width: 120px;
    min-height: 39px;
}
/*CART*/

.cart_button img{
    box-shadow: 0px 0px 112px -19px rgb(0 0 0 / 76%);
    border-radius: 42px;
    padding: 2px;
    background-color: #fff;
}
.cart_button{
	height: 75px;
	width: 75px;
	position: fixed;
	top: 30%;
	right: 0;
	cursor: pointer;
	z-index: 99;
    background-color: ;
}
.cart_quantity{
    position: absolute;
    top: 26%;
    right: 23%;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 600;
	font-size: 20px;
}
.cartbg{
	z-index: 98;
    background: rgba(34, 44, 56, 0.75);
    opacity: .8;
    top: 0;
    left: 0;
    right: 0;
    position: fixed;
    bottom: 0;
	display: none;
}
.cart{
	width: 300px;
	height: 100vh;
	background-color: #fff;
	position: fixed;
	top: 0;
	right: -300px;
	z-index: 99;
	transition: all 600ms ease;
    display: flex;
    flex-direction: column;
}
#cart-body{
    overflow-y: scroll;
    height: 100%;
}
.cart-active{
	right: 0px;
}
.close-cart{
	cursor: pointer;
}
.cart-header{
	padding: 16px;
	display: flex;
	justify-content: space-between;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 24px;
    border-bottom: 1px solid #D5DDE6;
}
.cart-footer{
	background-color: #E5EAF0;
	border-top: 1px #D5DDE6 solid;
	display: flex;
	flex-direction: column;
	padding: 16px 16px;
    bottom: 0%;
    position: initial;
    width: 100%;
}
.cart-footer a{
	width: 100%;
    border: 1px solid #748DAA;
	cursor: pointer;
	text-transform: uppercase;
	padding: 8px 16px;
	margin: 0 auto 8px auto;
	background-color: #fff;
	text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
}
.cart-item{
	display: flex;
    padding: 15px;
    border-bottom: 1px solid #eee;
}
.cart-image{
	width: 64px;
	height: 64px;
    border: 0.7px solid #D5DDE6;
}
.cart-image img{
	width: 100%;
	height: 100%;
}
.cart-info{
    padding-left: 10px;
    width: 196px;
}
.cart-info__bottom{
    display: flex;
    justify-content: space-between;
}
.remove_cart{
    cursor: pointer;
}
.cart-info__top a{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 14px;
}
.cart-info__bottom span:nth-child(1){
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 13px;
}
/*scrllbar*/
#cart-body::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}
#cart-body::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}
#cart-body::-webkit-scrollbar-thumb {
	background-color: #000000;
}
.cart-msg{
    padding: 16px;
    font-family: 'Poppins', sans-serif;
}
/*CART*/
/*LOADING CIRCLE*/
.line {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 15px;
    background-color: #0033cc;
}
.load-3{
    display: flex;
    justify-content: space-around;
}
.load-3 .line:nth-last-child(1) {
    animation: loadingAnim 0.6s 0.1s linear infinite;
}
.load-3 .line:nth-last-child(2) {
    animation: loadingAnim 0.6s 0.2s linear infinite;
}
.load-3 .line:nth-last-child(3) {
    animation: loadingAnim 0.6s 0.3s linear infinite;
}
.l-3 {
    animation-delay: 0.72s;
}


@keyframes loadingAnim {
    0 {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 7px);
    }
    100% {
        transform: translate(0, 0);
    }
}
/*END_LOADING CIRCLE*/
.info_data li{
    list-style: inside;
}

@media (max-width:320px)  {

}
@media (max-width:480px)  {

}
@media (max-width:960px) {
    #img_container{
        width: 320px;
        height: 320px;
    }
    .product_img{
        width: 320px;
    }
    .product_info{
        width: 420px;
    }
}
@media (max-width:760px)  {
    .product_container{
        flex-direction: column-reverse;
    }
    .product_info, .product_img{
        width: 100%;
    }
    .product_img > div{
        margin: auto;
    }
}
@media (max-width:600px)  {
    .product_container{
        padding: 0 12px;
        margin: 32px auto;
    }
    .product_img{
        margin: 0px;
    }
    .product_info{
        margin-top: 16px;
    }
    .info_data{
        margin: 24px 0 12px;
    }
}