/* CSS reset */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { 
    margin:0;
    padding:0;
    font-family: 'Source Sans Pro', sans-serif;
}
html,body {
    margin:0;
    padding:0;
}
table {
    border-collapse:collapse;
    border-spacing:0;
}
*{
    box-sizing: border-box;
    border: none;
}
a{
    color: inherit;
    text-decoration: inherit;
}
fieldset,img { 
    border:0;
}
address,caption,cite,code,dfn,th,var {
    font-style:normal;
    font-weight:normal;
}
ol,ul {
    list-style:none;
}
caption,th {
    text-align:left;
}
h1,h2,h3,h4,h5,h6 {
    font-size:100%;
    font-weight:normal;
}
q:before,q:after {
    content:'';
}
abbr,acronym { border:0;
}
a {
    text-decoration: none; /* no underline */
}
a:active{
    color: inherit;
}
a:visited{
    color: inherit;
}
input:focus {
    outline: none;
}
:root {
    --color-blue-default: #005eb8;
    --color-gray-default: #5f727f;
    --color-text-default: #7c7d7d;
}
#loader{
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 9999;
    top: 0;
    opacity: 1;
    transition: 0.3s linear;
}