
#index {   /*HEADER*/
    border-bottom: 4px;
    border-color: #0033cc;
    border-style: solid;
}
@media (max-width:767px){   /*HEADER*/
    #index {
      border-color: transparent;
    }
}
.content-cntr{
  display: flex;
  padding: 3rem 0 0;
}
.content-left{
  width: 25%;
  margin-top: 3rem;
}
.content-right{
  width: 75%;
}
body{
    background-image: url(../media/pagebg.png);
}
.content-margin{
  margin-left: 25px;
  margin-right: 25px;
}
.img-container{
  width: 70%;
  margin: auto;
}
.text-container__title h4{
	font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 42px;
  pointer-events: none;
}
.text-container__paragraph p{
	font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  pointer-events: none;
  font-size: 16px;
}

@media screen and (max-width: 767px){
  .content-cntr{
    flex-direction: column;
  }
  .content-margin{
      margin-left: 0;
      margin-right: 0;
  }
  .content-left{
    width: 100%;
    margin-top: 0;
  }
  .content-right{
    width: 100%;
  }
  .text-container__title h4{
    font-size: 40px;
    text-align: center;
  }
  .text-container__paragraph p{
    text-align: center;
  }
  .text-container__title{
    margin-bottom: 2rem;
  }
  .text-container__paragraph{
    margin-bottom: 3rem;
  }
  body{
    background-image: url(../media/mobile-pagebg.png);
  }
}